*{
    margin: 0 auto;
    //background: rebeccapurple;
    color: white;
}

html {
    background-image: url("/static/backgrounds/wallpaper8.jpeg");
}

h1 {
    color: white;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 70px;
    font-weight: lighter;
    line-height: 70px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

button {
    color: black;
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 40px;
    line-height: 25px;
    text-align: center;
    padding: 20px 50px;
    background: linear-gradient(90deg, lightgreen, darkslateblue);
    border: 2px solid black;
    box-shadow: gray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puzzleElement{
    width:120px;
    height:120px;
    background-image: url("/static/pictures/hedgehog.jpg");
    color: black;
    text-align: center;
    border:1px solid black;
    cursor: pointer;
}

.puzzleElement:hover{
        transform: scale(1.05);
        filter:grayscale(0%);

}

.table {
    margin-top: 100px;
}

#mainTable{
    background-image: url("/static/pictures/hedgehog.jpg");
    display: flex;
    flex-wrap: wrap;
    height: 366px;
    width: 366px;
    border: 10px solid lightgreen;
}

#testBox{
    background: red;
    width: 200px;
    height: 200px;
    }

.puzzle11 {background-position: left top;}
.puzzle12 {background-position: center top;}
.puzzle13 {background-position: right top;}
.puzzle21 {background-position: left center;}
.puzzle22 {background-position: center center;}
.puzzle23 {background-position: right center;}
.puzzle31 {background-position: left bottom;}
.puzzle32 {background-position: center bottom;}
.puzzle33 {background-position: right bottom;}