*{
    background: rebeccapurple;
    color: white;
}

.puzzleElement{
    width:100px;
    height: 50%;
    background: lightgoldenrodyellow;
    color: black;
    text-align: center;
    border:1px solid black;
}

#mainTable{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 306px;
    border: 1px solid red;
}