*{
    margin: 0 auto;
    background: rebeccapurple;
    color: white;
}

.puzzleElement{
    width:120px;
    height:120px;
    background-image: url("/static/pictures/hedgehog.jpg");
    color: black;
    text-align: center;
    border:1px solid black;
    cursor: pointer;
}

#mainTable{
    display: flex;
    flex-wrap: wrap;
    height: 366px;
    width: 366px;
    border: 1px solid red;
}

.puzzle11 {background-position: left top;}
.puzzle12 {background-position: center top;}
.puzzle13 {background-position: right top;}
.puzzle21 {background-position: left center;}
.puzzle22 {background-position: center center;}
.puzzle23 {background-position: right center;}
.puzzle31 {background-position: left bottom;}
.puzzle32 {background-position: center bottom;}
.puzzle33 {background-position: right bottom;}