{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" defer></script> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/anime.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}" defer></script>

{% endblock %}

{% block content %}
    <h1>Hello puzzle</h1>
    <button id="startButton">Start the game</button>
    <div id="mainTable">
    </div>



{% endblock %}