{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" defer></script> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/anime.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}" defer></script>

{% endblock %}

{% block content %}

    <h1>Hello puzzle</h1>
    <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
    <p><label for="file" style="cursor: pointer;">Upload Image</label></p>

    <div class="button">
        <button id="startButton">Start the game</button>
    </div>
    <div id="mainTable" class="table">
    </div>
    <p id="tick-counter"></p>

{% endblock %}